.oa-forum-mediablock{
    position:relative;
}
.oa-forum-mediablock .oa-forum-mediablockImage{
    float:left;
    display:block;
}
/* klasse som hører hjemme i theme? */
.oa-forum-mediablockImage.oa-forum-avatar{
    width:50px;
}
.oa-forum-mediablock .oa-forum-mediablockContent{
    display:table-cell;
    width:1000px;
    zoom:1;
}
.oa-forum-body p:first-child{
    margin-top:0;
    margin-bottom: 0;
}

/*** Forum theme  **/
.oa-forum-mediablock .oa-forum-deletePost{
    position: absolute;
    right: 10px;
    top: 5px;
    display:block;
}
.oa-forum-shareListLinks li{
    list-style:none;
    float:left;
    display:block;
    position:relative;
}

a.oa-forum-iconLink{text-decoration:none;}
a.oa-forum-iconLink img{vertical-align:middle; padding-right: 5px;}
a.oa-forum-iconLink:hover span{text-decoration:underline;}
a.oa-forum-iconLink:hover img{text-decoration:none;}

.oa-forum-tab-container{}

.oa-forum-mediablock:after{
    clear:both;
    display:block;
    visibility:hidden;
    overflow:hidden;
    height:0 !important;
    line-height:0;
    font-size:xx-large;
    content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.oa-forum-hidden{
    display:none;
}
