html{
    height:100%;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    height: 100%;
}

form {
    margin: 0px;
}
br{
    clear:left;
}
.topheader {
    background-image: url("../bitmaps/projectweb/top_logo_spacer.gif");
    width: 100%;
}

.topmenubackground {
    background-image: url("../bitmaps/projectweb/verktoylinje_blank.gif");
    color: white;
}

.topmenutext {
    color: #ffffff;
}
.topstrut {
    width: 100%;
    height: 15px;
    background-color: #eeeeee;
    border-bottom: 1px solid gray;
}

.contentbody {
  background-color: #eeeeee;
}

.contentmain {
    float:left;
    background-color: white;
    padding:20px;
    width:730px;
}
td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

td a{
    font-weight:bold;
}
.heading {
    padding-left:5px;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #B5D0DF;
}

.heading2 {
    font-size: 11pt;
    font-weight: bold;
    margin-bottom: 3px;
}

.tableHeading {
    font-weight: bold;
    background-color: #CEE4F0;
    color: #ffffff;
    padding: 2px;
}
a.tableheading{
    color: #ffffff;
    text-decoration: none;
}

.activitylistselect {
    border: 1px solid black;
    width: 150px;
}

.activitylistsearchinput {
    width: 120px;
}

.activitylistsearch {
    float:right;
    border: 1px solid gray;
    border-top: none;
    background-color: white;
    padding: 2px;
    padding-left: 10px;
    padding-top: 22px;
}

.activitylistmain {
    width: 100%; height: 100%;
    background-color: white;
    margin: 20px;
}

.tableRow0 {
    background-color: #ffffff;
    padding: 2px;
}

.tableRow1 {
    background-color: #eeeeee;
    padding: 2px;
}

.dottedTd {
    border-left: 1px dotted gray;
}

.tableRow0 td, .tableRow1 td, .tableHeading td {
    padding: 3px;
}

.activitysearchsection {
    margin-bottom: 5px;
}

.button {
    padding-left: 3px;
    padding-right: 3px;
    color: #0030ff;
    font-size: 11px;
    text-decoration:none;
}

.button:hover {
    color: #0030ff;
    text-decoration:underline;
}

.leftmenu{
    float:left;
    width:140px;
    height:100%;
    border: 2px solid gray;
    border-top: none;
}
.leftmenu a{
    display:block;
    color:#000000;
    text-decoration:none;
    font-weight:bold;
}
.navlink0{
    padding-left:20px;
    margin-top:20px;
}
.navlink1{
    padding-left:30px;
}

.label{
    float:left;
    width:9em;
    margin-bottom:15px;
}
