ul.oa-forum-tabs {
    list-style: none;
}

ul.oa-forum-tabs li {
    display: inline-block;
    padding: 5px 15px;
}

.oa-forum-mediablock{
    position:relative;
}
.oa-forum-mediablock .oa-forum-mediablockImage{
    float:left;
    display:block;
}
/* klasse som hører hjemme i theme? */
.oa-forum-mediablockImage.oa-forum-avatar{
    width:50px;
}
.oa-forum-mediablock .oa-forum-mediablockContent{
    display:table-cell;
    width:1000px;
    zoom:1;
}
.oa-forum-body p:first-child{
    margin-top:0;
    margin-bottom: 0;
}

#oa-forum-sharebox .oa-forum-spinner {
    margin-bottom: 15px;
    top: 14px !important;
}

.oa-forum-overlay-spinner {
    position: fixed !important;
    top: 48% !important;
}

/*** Forum theme  **/
.oa-forum-mediablock .oa-forum-deletePost, .oa-forum-mediablock .oa-forum-deleteThread{
    position: absolute;
    right: 10px;
    top: 0;
    display:block;
}
.oa-forum-mediablock .oa-forum-editPost, .oa-forum-mediablock .oa-forum-editThread{
    position: absolute;
    right: 25px;
    top: 0;
    display:block;
}

a.oa-forum-iconLink{text-decoration:none;}
a.oa-forum-iconLink img{vertical-align:middle; padding-right: 5px;}
a.oa-forum-iconLink:hover span{text-decoration:underline;}
a.oa-forum-iconLink:hover img{text-decoration:none;}


.oa-forum-mediablock:after{
    clear:both;
    display:block;
    visibility:hidden;
    overflow:hidden;
    height:0 !important;
    line-height:0;
    font-size:xx-large;
    content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.oa-forum-hidden{
    display:none !important;
}

#oa-forum-wall-load-more-threads{
    display: none;
}
.oa-forum-post-preview-hidden-post-body{
    display: none;
}

.oa-forum-category{
    font-weight: bold;
    color:#00008b;
}

.oa-forum-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9998;
    cursor: pointer;
    -webkit-animation: fadeIn 150ms linear;
    -moz-animation: fadeIn 150ms linear;
    -o-animation: fadeIn 150ms linear;
    animation: fadeIn 150ms linear;
}

.oa-forum-underlay {
    display: table;
    width: 100%;
}

.oa-forum-image-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    z-index: 9999;
    -webkit-animation: fadeInDown 150ms linear;
    -moz-animation: fadeInDown 150ms linear;
    -o-animation: fadeInDown 150ms linear;
    animation: fadeInDown 150ms linear;
}

.oa-forum-image-button {
    position: absolute;
    top: 10px;
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 0 13px;
    height: 32px;
    line-height: 29px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.oa-forum-image-button:hover {
    text-decoration: none;
}

.oa-forum-image-close {
    right: 10px;
}

.oa-forum-image-download {
    right: 74px;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
