<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  - Application context definition for "springapp" DispatcherServlet.
  -->

<beans>

    <bean id="springProjectWebConfigProvider" class="no.kantega.modules.commons.conf.DefaultConfigurationResourceProvider">
        <property name="resources">
            <list>
                <value>/WEB-INF/projectweb.conf</value>
            </list>
        </property>
    </bean>

    <bean id="springForumConfigProvider" class="no.kantega.modules.commons.conf.DefaultConfigurationResourceProvider">
        <property name="resources">
            <list>
                <value>/WEB-INF/forum.conf</value>
            </list>
        </property>
    </bean>


    <bean name="userProfileManager" class="no.kantega.modules.user.TestUserProfileManager">

    </bean>

    <bean name="userSearcher" class="no.kantega.modules.user.TestUserSearcher">
        <property name="usernames">
            <list>
                <value>eirik</value>
                <value>bjorsnos</value>
                <value>eirbjo</value>
                <value>andska</value>
                <value>admin</value>
            </list>
        </property>
    </bean>

    <bean id="userResolver" class="no.kantega.modules.user.SystemUserResolver"/>

    <bean id="projectwebDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url">
            <value>jdbc:mysql://localhost/ningdek?useUnicode=true&amp;characterEncoding=iso-8859-1</value>
        </property>
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>

    </bean>

    <bean id="forumDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url">
            <value>jdbc:jtds:sqlserver://eddie.mogul.no:1433/dnweb;tds=8.0;loginTimeout=15</value>
        </property>
        <property name="driverClassName">
            <value>net.sourceforge.jtds.jdbc.Driver</value>
        </property>
        <property name="username">
            <value>sa</value>
        </property>
        <property name="password">
            <value>buffy!</value>
        </property>
    </bean>

</beans>